/*
 * 1 - Helpers
 */
/*
 * Colors
 */
/*
 * Transitions
 */
/*
 * Typography
 */
/*
 * Font weights
 */
/*
 * Shadows
 */
/*
 * Breakpoints
 */
/*
 * Misc
 */
/*
 * Media Query To
 */
/*
 * Media Query From
 */
/*
 * Media Query Between
 */
/*
 * 2 - Basics
 */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #F2F2F7;
  font-family: 'Roboto', sans-serif;
}

body > .container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-left: 1px solid #D9E0E7;
  border-right: 1px solid #D9E0E7;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-row::before, .flex-row::after {
  content: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.btn {
  height: 48px;
  border: 0;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  cursor: pointer;
  font-size: 14px;
}

.btn-primary {
  background-color: #EA3D67;
  color: #FFF;
}

.btn-close {
  background: none;
  border: 0;
  cursor: pointer;
  color: #6D7785;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.175s ease;
}

.btn-close:hover, .btn-close:focus, .btn-close:active {
  background-color: #D9E0E7;
  color: #2E3039;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-full {
  width: 100%;
}

.title-large {
  font-size: 64px;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .title-large {
    font-size: 48px;
    letter-spacing: initial;
  }
}

@media screen and (max-width: 767px) {
  .title-large {
    font-size: 36px;
  }
}

h1, .title {
  font-size: 48px;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  h1, .title {
    font-size: 36px;
    letter-spacing: initial;
  }
}

@media screen and (max-width: 767px) {
  h1, .title {
    font-size: 30px;
  }
}

h2 {
  font-size: 36px;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 28px;
    letter-spacing: initial;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
}

h3, .subtitle {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  h3, .subtitle {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  h3, .subtitle {
    font-size: 22px;
  }
}

h4 {
  font-size: 24px;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  h4 {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  h5 {
    font-size: 18px;
  }
}

.txt-large {
  font-size: 18px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .txt-large {
    font-size: 16px;
  }
}

small, .txt-small {
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  small, .txt-small {
    font-size: 12px;
  }
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

.pre-title {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .pre-title {
    font-size: 12px;
    letter-spacing: 2px;
  }
}

.section-title {
  margin: 0 0 40px;
  color: #191920;
}

@media screen and (max-width: 991px) {
  .section-title {
    margin: 0 0 20px;
  }
}

/*
 * 3 - Components
 */
.contact-item {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  border-bottom: 1px solid #D9E0E7;
}

.contact-item .avatar {
  width: 64px;
  height: 64px;
  border-radius: 6px;
  overflow: hidden;
  margin-right: 14px;
}

.contact-item .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-item .contact-info {
  flex: 1;
}

.contact-item:last-child {
  border-bottom: 0;
}

.input-panel {
  background-color: #FFF;
  box-shadow: 0 10px 30px 0 rgba(1, 1, 31, 0.2);
  pointer-events: initial;
}

.input-panel .panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D9E0E7;
  padding: 14px 24px;
}

.input-panel .panel-header .header-title {
  margin: 0;
  font-weight: 400;
}

.input-panel .panel-body {
  padding: 30px 24px;
}

.input-panel .panel-body .add-contact-form {
  display: flex;
  flex-wrap: wrap;
}

.input-panel .panel-body .add-contact-form .col-avatar {
  flex: 25%;
}

.input-panel .panel-body .add-contact-form .col-fields {
  flex: 75%;
  display: flex;
  flex-wrap: wrap;
}

.input-panel .panel-body .add-contact-form .col-fields .field {
  flex: 50%;
}

.input-panel .panel-body .add-contact-form .col-submit {
  flex: 100%;
}

.input-panel .field {
  padding: 0 20px;
  margin-bottom: 20px;
}

.input-panel .field label {
  display: none;
}

.input-panel .field input {
  font-size: 28px;
  border: 0;
  border-bottom: 1px solid #D9E0E7;
  width: 100%;
  padding: 14px 0;
  font-weight: 600;
}

.input-panel .field input::placeholder {
  color: #97A2AE;
}

.input-panel .field input:focus {
  outline: 0;
}

.input-panel .field.avatar {
  width: 200px;
  height: 200px;
  border: 2px dashed #C1CED8;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-panel .field.avatar .drop-message {
  text-align: center;
  font-size: 14px;
  color: #6D7785;
}

.input-panel-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: all 0.4s ease;
  transform: translateY(-100%);
  pointer-events: none;
}

.input-panel-wrapper.js-active {
  transform: translateY(0);
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.backdrop.js-active {
  transition: all 0.4s ease;
  opacity: 100%;
  pointer-events: initial;
}

.contact-filter {
  display: flex;
  padding: 14px 20px;
  background-color: #F2F2F7;
}

.contact-filter .filter-field {
  width: 100%;
  height: 38px;
  padding: 0;
  border: 0;
  border-radius: 6px;
  font-size: 14px;
}

.contact-filter .filter-field:focus {
  outline: 0;
}

.contact-filter .contact-search {
  flex: 1;
  position: relative;
}

.contact-filter .contact-search .filter-field {
  padding: 0 40px 0 10px;
}

.contact-filter .contact-search .clear-search {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.contact-filter .contact-search .clear-search i {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  font-size: 14px;
  color: #6D7785;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.175s ease;
}

.contact-filter .contact-search .clear-search.js-active {
  display: flex;
}

.contact-filter .contact-search .clear-search:hover i, .contact-filter .contact-search .clear-search:focus i, .contact-filter .contact-search .clear-search:active i {
  background-color: #D9E0E7;
  color: #2E3039;
}

.contact-filter .contact-sort {
  margin-left: 6px;
  display: flex;
}

.contact-filter .contact-sort .select-wrapper {
  position: relative;
  width: 100%;
}

.contact-filter .contact-sort .select-wrapper .filter-field {
  padding: 0 24px 0 10px;
  color: #585F6B;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.contact-filter .contact-sort .select-wrapper::after {
  content: '\f107';
  font-family: 'Font Awesome 5 Pro';
  font-weight: 300;
  font-size: 20px;
  color: #97A2AE;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  pointer-events: none;
}

.contact-filter .contact-sort .order {
  border: 0;
  background-color: #FFF;
  border-left: 1px solid #F2F2F7;
  border-radius: 0 6px 6px 0;
  padding: 0 12px;
  cursor: pointer;
}

.contact-filter .contact-sort .order::after {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 300;
  width: 16px;
  transition: all 0.175s ease;
}

.contact-filter .contact-sort .order[data-state="default"]::after {
  content: '\f111';
}

.contact-filter .contact-sort .order[data-state="asc"]::after {
  content: '\f062';
}

.contact-filter .contact-sort .order[data-state="desc"]::after {
  content: '\f063';
}

.contact-filter .contact-sort .order:hover::after, .contact-filter .contact-sort .order:focus::after, .contact-filter .contact-sort .order:active::after {
  color: #EA3D67;
}

/*
 * 4 - Layout
 */
.main-nav {
  display: flex;
  height: 80px;
  padding: 0 20px;
  background-color: #FFF;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D9E0E7;
  position: relative;
}

.main-nav .nav-brand {
  display: block;
  width: 209px;
  height: 48px;
  background-image: url("../assets/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-list {
  overflow-y: auto;
}

.contact-view {
  background-color: #FFF;
  padding: 24px;
  flex: 1;
}

.contact-view .nav-bar {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #D9E0E7;
  padding: 10px 0;
  margin-bottom: 24px;
}

.contact-view .contact-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.contact-view .contact-info .contact {
  display: flex;
}

.contact-view .contact-info .contact .avatar {
  margin-right: 14px;
}

.contact-view .contact-info .contact .avatar img {
  border-radius: 10px;
}

footer .footer-container {
  padding: 40px 0;
  background-color: #D9E0E7;
}

footer .footer-credits {
  background-color: #C1CED8;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

footer .footer-credits a {
  display: flex;
  font-size: 14px;
  color: #191920;
}

footer .footer-credits a svg {
  fill: #191920;
  margin-right: 6px;
}

.app {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.app aside {
  display: flex;
  flex-direction: column;
  width: 380px;
  background-color: #FFF;
  border-right: 1px solid #D9E0E7;
}

.app main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F7;
}

/*# sourceMappingURL=style.css.map */