/*
 * Colors
 */
$white: #FFF;
$gray100: #F2F2F7;
$gray200: #D9E0E7;
$gray300: #C1CED8;
$gray400: #97A2AE;
$gray500: #6D7785;
$gray600: #585F6B;
$gray700: #434852;
$gray800: #2E3039;
$gray900: #191920;
$black: #000;

$primry500: #EA3D67;

/*
 * Transitions
 */
$tr-default: all .4s ease;


/*
 * Typography
 */



/*
 * Font weights
 */
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 800;


/*
 * Shadows
 */
$bs-small: 0 6px 30px 0 rgba(#01011f, 0.08);

/*
 * Breakpoints
 */
$bp-lg: 1199;
$bp-md: 991;
$bp-sm: 767;
$bp-xs: 577;

/*
 * Misc
 */