.btn {
    height: 48px;
    border: 0;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    cursor: pointer;
    font-size: 14px;
}

.btn-primary {
    background-color: $primry500;
    color: $white;
}

.btn-close {
    background: none;
    border: 0;
    cursor: pointer;
    color: $gray500;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $tr-quick;
    &:hover, &:focus, &:active {
        background-color: $gray200;
        color: $gray800;
    }
}